[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=DBus Viewer Touch
Icon=harbour-dbusviewertouch
Exec=harbour-dbusviewertouch

